#autora {
    font-family: monospace;
    text-align: center;
} 
#foto {
    width: 150px;
    float: left;
    margin-right: 10px; 
}
#biografia {
    font-family: monospace;
   
}
#habilidades {
    margin-top: 100px;
}
.habilidade1 {
    font-size: 20px;
}
.habilidade2 {
    font-size: 19.5px;
}
.habilidade3 {
    font-size: 19px;
}
.habilidade4 {
    font-size: 18.5px;
}
.habilidade5 {
    font-size: 18px;
}
.habilidade6 {
    font-size: 17.5px;
}
body {
    background-color: rgb(215, 186, 243);
}
.buttom {
    color:cornsilk;
    background-color: darkmagenta;
    padding: 3px 3px;
    border-radius: 5%;
  